{% extends "base.html" %} {% block content %}

<div class="container mt-4" dir="rtl">
  <h2 class="mb-4">ثبت تکلیف جدید</h2>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label> عنوان تکلیف </label>

      {{ form.subject }}
    </div>

    <div class="mb-3">
      <label> متن تکلیف </label>

      {{ form.body }}
    </div>

    <div class="mb-3">
      <label> کلاس </label>

      {{ form.classroom }}
    </div>

    <div class="mb-3">
      <label> مهلت تحویل </label>

      {{ form.deadline }}
    </div>

    <button class="btn btn-primary">ثبت تکلیف</button>
  </form>
</div>

{% endblock %}
